body{
    background-color: white;
    font-family: monospace;
}

a{
    color: #666;
}

#navigation-bar{
    background-color: white;
    border-bottom: 1px solid silver;
}

#jumbotron {
    background-image: url(background4.jpg);
    color: white;
    margin: 20px;
    border-radius: 5px;
    height: 440px;
}

#category-bar {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.cat-bar-btn {
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.content {
    margin: 20px;
}

#content-div {
    font-size: 69px;
    text-align: center;
}
