body{
    background-color: white;
    font-family: monospace;
}

a{
    color: blue;
}

#navigation-bar{
    background-color: white;
    border-bottom: 1px solid silver;
    text-align: center;
}

#jumbotron {
    background-image: url(background6.jpg);
    color: white;
    margin: 20px;
    border-radius: 5px;
    height: 440px;
}

#category-bar {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.cat-bar-btn {
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.content {
    margin: 20px;
}

#content-div {
    font-size: 69px;
    text-align: center;
}

.listImg {
  width: 22%;
  margin-left: 1%;
  margin-right: 1%;
}

.moreInfoImg {
  width: 50%;
}

.shoeName {
  font-size: 28px;
  font-weight: bold;
  font-style: underline;
}

.shoeDesc {
  font-size: 12px;
}

.shoePrice {
  font-size: 20px;
  font-weight: bold;
}

.query-div {
    text-align: left;
}

.searchResults {
    font-size: 16px;
    color: blue;
}

.searchResultsBold{
    font-size: 20px;
}

#searchHeader {
    text-align: center;
    color: red;
}

.query {
  border: 1px solid black;
}
